<launch>
    
    
    <node name="camera_node" pkg="testing_camera" type="camera_node.py" />
    <node name="frame_converter" pkg="testing_camera" type="frame_converter.py" />
    <node name="moving_checker" pkg="testing_camera" type="moving_checker.py" />
    
    <node name="image_node" pkg="ximea_color" type="example_camera.py" />
    <node name="ximea_camera" pkg="ximea_ros" type="ximea_demo.cpp" />
    <node name="aruco_detect" pkg="ximea_ros" type="ximea_aruco.launch" />

   

</launch>



